@font-face {
  font-family: "KachoPB";
  src: url("../fonts/KachofugetsuPBold.ttf");
}

@font-face {
  font-family: "KachoPBB";
  src:url("../fonts/KachofugetsuPBBold.ttf");
}

body{
  background: url("../image/wakuindex2.png") no-repeat;
  background-position: center;
}

.main{
  font-family: KachoPB;
}

.daimei{
  font-size: 35pt;
  padding-left: 170px;
  padding-top: 10px;
}
h2{
  font-size: 28pt;
  text-align: center;
  padding-bottom: 25px;
}
.explanation{
  font-size: 20pt;
  padding-left: 30px;
  padding-top: 10px;
  font-family: KachoPBB;
}
