

/* リンク */
a {
    color: skyblue;
    
}

/* ページ全体 */
body {
    margin: 15px;
    padding: 15px;
    background-color: black;
}

/* メインコンテンツ */
main {
    width: 900px;
    margin: 0px auto;
    padding: 0px;
    background-color: black;
    font-family: sans-serif;
}

.photo:hover {
    transform: scale(1.1);
}


/* 画像ギャラリー */
main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 画像 */
.image {
    width: 800px;
    height: 500px;
    margin: 15px;
}

/* その他 */
li {
    list-style: none;
}

/* ヘッダー */
header {
    display: flex;
    align-items: left;
    justify-content: left;
}

/* 画像 */
.photo {
    width: 140px;
    height: auto;
    margin-right: 20px;
    clip-path: circle(70px at 70px 70px);
}

/* タイトル */
.title {
    margin: 10px;
    color: skyblue;
}

* {
    margin:0; padding:0;
  }
  header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
  }
  header .headline{
    font-size: 32px;
  }
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }

.brand {
  font-weight: bold;
  font-size: 20px; }
 
.site-header {
  position: relative;
  background-color: black; }
 
.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }
 
@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }
 
.nav__item a {
  display: block;
  padding: 20px; }
 

  
  
  