/* 全体のスタイル */
* {
    box-sizing: border-box;
}

/* リンク */
a {
    color: skyblue;
    text-decoration: none;
}

/* ページ全体 */
body {
    margin: 80;
    padding: 10;
    background-color: black;
}

/* ヘッダーとナビゲーション */
header,
nav {
    text-align: left;
    background-color: black;
}

/* ナビゲーション */
nav ul {
    display: flex;
    list-style: none;
    padding: 10;
}

nav ul li {
    flex: 1;
    text-align: left;
    padding: 15px;
}

nav a {
    color: skyblue;
}

nav ul li.on a {
    color: skyblue;
}

/* メインコンテンツ */
main {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    font-family: sans-serif;
}

/* 画像 */
.photo {
    width: 250px;
    height: auto;
    margin: 20px;
    clip-path: circle(125px at 125px 125px);
}

.photo:hover {
    transform: scale(1.1);
}

/* フッター */
footer {
    width: 900px;
    margin: 20px auto;
    padding: 0;
    background-color: black;
}

/* フォントサイズ */
.mz {
    font-size: 18px;
}

/* 画像ギャラリー */
main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 画像 */
.image {
    width: 600px;
    height: 300px;
    margin: 8px;
}

/* その他 */
li {
    list-style: none;
}

/* ヘッダー */
header {
    display: flex;
    align-items: left;
    justify-content: left;
}

/* 画像 */
.photo {
    width: 180px;
    height: auto;
    margin-right: 10px;
    clip-path: circle(90px at 90px 90px);
}

/* タイトル */
.title {
    margin: 10;
    color: skyblue;
}


  
  
  