body{
  font-family: Arial, Verdan;
  background: url("../img/background/bg1.png"), url("../img/background/bg2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 30% , left bottom;
  height: auto;
  background-attachment:fixed ;
  background-color: #f0f8ff;
}

a{
  color:#1111cc;
  text-decoration: none;
}

p{
  margin: 0px;
  line-height: 1.6;
}

#container{
  width: 800px;
  height: 100%;
  height:auto;
  position:relative;
  margin: 0px auto;
  overflow: hidden;

}

/*header*/

.header-img{
  text-align: center;
}

.menu{
  margin-bottom: 45px;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.menu > li{
  text-align: center;
  float: left;
  width: 120px;
  margin: 3px;
}



/*contents*/

.contents{
  float: left;
  width: 600px;
}

.content{
  margin-bottom: 30px;
}

.post-header{
  position:relative;
  bottom: 15px;
  margin-bottom: 15px;
}

.post-header h1{
  font-weight: bold;
}

.content-box{   
  position: relative;
  background: rgba(245,245,245,0.8);
  width:700px;
  height:auto;
  padding: 15px;
  border: ridge 1px rgba(128,128,128,0.1);
  left: 30px;
  bottom: 15px;
}

.content-box a{
   text-decoration: none;
}

.content-box a:link {
    color:#1111cc;
    font-style:normal;
}
.content-box a:visited {
    color:#934C7B;
}
.content-box a:hover {
    color:#1111cc;
    font-style:normal;
    text-decoration: underline;
}

.content-box p{
  font-size:18px;
  text-indent: 1em;
  position: relative;

}

/*footer*/
#footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  left: -20px;
  font-size: 12px;
  color: black;
}
