.container{
    background-image: url("../img/themes.png");
    background-repeat: no-repeat;
}

.content {
    width: 610px;
    height: 530px;
    margin-top: 135px;
    margin-left: 100px;
}

.content h1{
    font-size: 32px;
}

.content p{
    padding-top: 15px;
    font-size: 18px;
}
