<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* ここにCSSコードを追加

例:
.example {
    color: red;
}

CSS の知識に磨きをかけるためにご覧ください。
http://www.w3schools.com/css/css_syntax.asp

コメント終わり */ 

.name{
  color :#ff8c00;
  background-color :#00ff00;
}

.wpcf7 input[type="text"]{
  font-size:20px;
  
}
input.name {
  border:none;
  border-radius:10px;
  box-shadow: none;
  padding: 2px 8px;
}

input.name:focus {
  outline: none;
}
</style>
<!-- end Simple Custom CSS and JS -->
